@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap');

body{
    margin: 0;
}
header{
    background: #101010;
}
ul{
    list-style: none;
    font-family: 'Poppins';
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    width: 80%;
    margin: auto;
}
.logo{
    gap: 10px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.logo img{
    width: 38px;
    height: 38px;
    object-fit: cover;
}
.card ul{
    display: flex;
    align-items: center;
    color: rgba(112, 112, 112, 1);
    gap: 40px;
}
.SignOut{
    width: 80px;
    height: 40px;
    color: white;
    background: #306EF7;
    border-radius: 10px;
    margin: 10px 10px;
}
.hover ul li:hover{
    color: #306EF7;
}
.login{
    align-items: center;
    display: flex;
}


 /* MAIN */


 main{
    font-family: 'Poppins', sans-serif;
    background-color: #101010;
 }

 .banner {
    text-align: center;
    padding-top: 140px;
 }
.banner1{
    text-align: center;
    margin-top: 140px;
    font-size: 50px;
    color: white;
}
 .banner_lose {
    line-height: 30px;
 }

 .banner_lose h2 {
    font-size: 90px;
    color: white;
    margin: 0;
 }

 .banner_lose h1 {
    font-size: 92px;
    color: aquamarine;
 }

 .banner_content {
    margin-top: 136px;
 }

 .banner_content h5 {
    color: #ffffff;
    font-size: 30px;
    padding: 0 435px;
 }

 .banner_content p {
    color: white;
    font-size: 25px;
 }

 .banner_content span {
    color: #707070;
 }

 .banner_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
 }

 .banner_button_one button {
    width: 313px;
    height: 77px;
    color: white;
    background-color: #366cf9;
    border: 0;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
 }

 .banner_button_two button {
    width: 313px;
    height: 77px;
    color: #707070;
    background-color: transparent;
    border: 1px solid #707070;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
 }
.cardd img{
    margin-left: 50px;
 }
.cardd div{
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}
.cardd p{
    margin: 0;
    padding: 0;
    color: #707070;
}
.cards1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 100px;
}

